[submodule "Bhiv Bucket"]
	path = Bhiv Bucket
	url = https://github.com/blackholeinfiverse37/Primary_Bucket_Owner.git
[submodule "Gurukul Assessment"]
	path = Gurukul Assessment
	url = https://github.com/blackholeinfiverse64/gurukul-assesment.git
